<!-- Main Grid Section -->

<!-- row 1 (business name) -->

<div class="row">

<div class="large-12 columns">

<div class="title">

<div id="cogs"></div>

<a name="business_information" class="anchor">Business Information</a>

<h3 style="margin-top: 0px" data-magellan-destination="business_information">Business Information</h3>

<hr/>

</div>

<!-- row 1 (Business name) -->   

<div class="row">

<div class="large-12 columns form_box">

<div class="panel large-12 columns">

<div class="large-9 columns">

<h5 class="question one">Tell us your business name</h5>
<h5><small>Example - 'Marc's Driving School'</small></h5>
<input type="text" placeholder="Business Name Empty" />

</div>

<div class="large-3 columns">

<blockquote>Let's get started. The first thing we need to know is your business name.</blockquote>

</div>

</div>

</div>

</div>

<!-- end row 1 --> 

<!-- row 2 (Business Type) -->   

<div class="row">

<div class="large-12 columns">

<div class="panel large-12 columns form_box">

<div class="anchor" id="business_type"></div>

<div class="large-9 columns">

<h5 class="question two">Select a business type that best describes your business</h5>
<h5><small>'Driving Instructor', 'Photographer', 'Entertainer', Etc..</small></h5>
<select>
<option value="">No Business Type Selected</option>
<option value="Driving Instructor">Driving Instructor</option>
<option value="Photographer">Photographer</option>
<option value="Entertainer">Entertainer</option>
</select>

</div>

<div class="large-3 columns">

<blockquote>This helps us display information relevent to your business.</blockquote>

</div>

</div>

</div>

</div>

<!-- end row 2 --> 

<!-- row 4 (Financial Year) --> 

<div class="row">
<div class="large-12 columns">
<div class="panel large-12 columns form_box">

<div class="anchor" id="financial_year"></div>

<div class="large-6 columns">

<h5 class="question three">Select your financial year start date</h5>

<h5><small>Start Date</small></h5>
<div class="row collapse">
<div class="small-9 columns" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
<input class="span2 datepicker active start_date" size="16" type="text" value="01-04-2013" readonly/>
</div>
<div class="small-3 columns">
<span class="postfix"><i class="icon-calendar fa fa-calendar"></i></span>
</div>
</div>

<h5><small>End Date (calculated automatically)</small></h5>
<div class="row collapse">
<div class="small-9 columns" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
<input class="span2 datepicker end_date" size="16" type="text" value="31-03-2014" readonly/>
</div>
<div class="small-3 columns">
<span class="postfix"><i class="icon-calendar fa fa-calendar"></i></span>
</div>
</div>

</div>

<div class="large-3 columns show-for-medium-up"></div>

<div class="large-3 columns">

<blockquote>We recommend using an accounting start date of April 1st.</blockquote>

</div>

</div>
</div>
</div>

<!-- end row 4 --> 

<% if false %>

<div class="panel callout radius">
<h5>What is Cash Basis Accounting?</h5>
<p>Cash basis accounting is a simple way for self-employed business owners to record their income and expenses.</p>
</div>

<% end %>

<!-- row 5 (Business Year) --> 

<div class="row">
<div class="large-12 columns">
<div class="panel large-12 columns form_box">

<div class="anchor" id="business_year"></div>

<div class="large-6 columns">

<h5 class="question four">Tell us your business start date</h5>

<h5><small>Business Start Date</small></h5>
<div class="row collapse">
<div class="small-9 columns" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
<input class="span2 datepicker active business_start_date" size="16" type="text" value="06-04-2013" readonly/>
</div>
<div class="small-3 columns">
<span class="postfix"><i class="icon-calendar fa fa-calendar"></i></span>
</div>
</div>

<h5><small>Business End Date (Please leave blank if no end date)</small></h5>
<div class="row collapse">
<div class="small-9 columns" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
<input class="span2 datepicker active business_end_date" size="16" type="text" value="" readonly/>
</div>
<div class="small-3 columns">
<span class="postfix"><i class="icon-calendar fa fa-calendar"></i></span>
</div>
</div>

</div>

<div class="large-3 columns show-for-medium-up"></div>

<div class="large-3 columns">

<blockquote>If your business is still active then please leave the end date blank.</blockquote>

</div>

</div>
</div>
</div>

<!-- end row 4 --> 

<div class="title">
<a name="income" class="anchor">>Income</a>
<h3 data-magellan-destination="income">Income</h3>
<hr/>
</div>

<!-- row 5 (Income) -->  

<div class="row">

<div class="large-12 columns">

<div class="panel large-12 columns form_box">

<div class="large-9 columns">

<h5 class="question blue five">Record your income payments over the financial year</h5>

<div class="row">

<div class="large-8 columns">

<h5><small>Payment Date</small></h5>
<div class="row collapse">
<div class="small-9 columns" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
<input class="span2 datepicker active start_date" size="16" type="text" value="06-04-2013" readonly/>
</div>
<div class="small-3 columns">
<span class="postfix"><i class="icon-calendar fa fa-calendar"></i></span>
</div>
</div>

</div>

</div>

<div class="row">

<div class="large-8 columns">

<h5><small>Payment Reference</small></h5>
<input type="text" placeholder="Client/Customer/Student Empty" />

</div>

</div>

<div class="row">

<div class="large-8 columns">

<h5><small>This Space Is For Payment Notes</small></h5>
<%= text_area_tag "notes", nil, :placeholder => "Payment Notes..." %>

</div>

</div>

<div class="row">

<div class="large-4 columns">
<div class="row collapse">
<h5><small>Payment Amount</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>

</div>

</div>

<div class="row">

<div class="large-8 columns">
<h5><small>Payment Method</small></h5>
<select>
<option value="">No Payment Method Selected</option>
<option value="Cash">Cash</option>
<option value="Cheque">Cheque</option>
<option value="Bacs">Bank Transfer (BACS)</option>
<option value="Bacs">Other</option>
</select>

</div>

</div>

<div class="row">

<div class="large-8 columns">
<h5><small>Click 'Add Income Payment' to add this payment to your records.</small></h5>
<input type="submit" value="Add Income Payment" style="margin-bottom: 20px;"/>

</div>

</div>

</div>

<div class="large-3 columns">

<blockquote>Simply record your income for which you have received payment for. As you add payments they will appear in the table below.</blockquote>

</div>

</div>

</div>

</div>

<!-- end row 5 --> 

<!-- row 6 (income table) -->

<div class="row">

<div class="large-12 columns">

<div class="anchor" id="record_income"></div>

<div class="panel form_box">

<div class="anchor" id="table_income"></div>

<div class="large-12 columns">

<h5 class="question blue six">Your income payments are displayed below. Please review and amend if nesessary.</h5>
<h5><small>The table below shows your income for financial year Apr 13 - Apr 14. You can edit & delete payments using the 'action links' below. Or you can add new payments using the <a href="#">income form</a> above.</small></h5>

</div>

<table class="responsive">
<tbody>
<tr>
<th width="125">Payment Date</th>
<th width="125">Customer</th>
<th width="424">Notes</th>
<th width="125">Amount</th>
<th width="125">Action</th>
</tr>
<tr>
<td>12/12/2013</td>
<td>Bob Burger</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Bob Burger</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Bob Burger</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Bob Burger</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Bob Burger</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Bob Burger</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>Total</td>
<td></td>
<td></td>
<td>£2,202.34</td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

<!-- end row 6 -->

<!-- row 7 (income graph) -->

<div class="row">

<div class="large-12 columns">

<div class="large-12 columns panel graph_box">

<div class="anchor" id="graph_income"></div>

<div class="large-9 columns">

<h5 class="question blue seven">Graph: Income for financial year Apr 13 - Apr 14</h5>

<h5><small>Hover your mouse over the columns on the graph to get more information about income for that month.</small></h5>


<%= column_chart({"Apr" => 5000, "May" => 4000, "Jun" => 7000, "Jul" => 1000, "Aug" => 3500, "Sep" => 5250, "Oct" => 2000, "nov" => 1600, "Dec" => 6000, "Jan" => 7500, "Feb" => 9000, "Mar" => 8000}, {library: {hAxis: {title: "Months (Apr 13 - Apr 14)"}, vAxis: {title: "Income (£)"}, :backgroundColor => "#eee", :title => 'Income / Month'}}) %>

<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
<li>Total Number of Payments:<br/>23</li>
<li>Total Unique Customers:<br/>15</li>
<li>Best Month:<br/> April 2013</li>
<li>Worst Month:<br/> June 2013</li>
</ul>



</div>

<div class="large-3 columns">

<blockquote>Graphs are a great way of displaying data. We use them to help you better understand your business performance over the year.</blockquote>

</div>

</div>

</div>

</div>


<!-- end row 7 -->

<% if false %>

<div class="panel callout radius">
<h5>Simplified Expenses</h5>
<p>There are three types of simplified expenses: expenditure on vehicles; use of home for business purposes, and premises used for both home and for business purposes. Expenditure may be calculated using a simple flat rate allowance.</p>
<p>
</div>

<% end %>

<div class="title">

<a name="expenses" class="anchor">>Expenses</a>
<h3 data-magellan-destination="expenses">Expenses</h3><hr/>

</div>

<!-- row 8 (vehicle yes/no?) -->

<div class="row">

<div class="large-12 columns">

<div class="large-12 columns panel form_box">

<div class="anchor" id="vehicle_expenditure"></div>

<div class="large-9 columns">

<div class="row">
<div class="large-9 columns">
<h5 class="question red_ eight">Claiming expenditure on vehicles using flat rate allowance</h5>
<h5><small>Type of vehicle</small></h5>
<input name="vehicle" type="radio" value="car" id="vehicleCar"><label for="checkbox2">Car</label>
<input name="vehicle" type="radio" value="van" id="vehicleVan"><label for="checkbox2">Van</label>
<input name="vehicle" type="radio" value="motor cycle" id="vehicleMotorCycle"><label for="checkbox2">Motor Cycle</label>
<input name="vehicle" type="radio" value="na" id="vehicleNa"><label for="checkbox2">N/A</label>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Total Business Miles</small></h5>
<div class="small-3 columns">
<span class="prefix">Miles</span>
</div>
<div class="small-7 columns">
<input id="totalMiles" class="span2" size="16" type="text" placeholder="00"/>
</div>
<div class="small-2 columns">
<span class="postfix">.00</span>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Flat rate per mile (first 10,000 miles)</small></h5>
<div class="small-10 columns">
<input id="beforeRate" class="span2" size="16" type="text" placeholder="00" readonly/>
</div>
<div class="small-2 columns">
<span class="postfix">P</span>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Flat rate per mile (after 10,000 miles)</small></h5>
<div class="small-10 columns">
<input id="afterRate" class="span2" size="16" type="text" placeholder="00" readonly/>
</div>
<div class="small-2 columns">
<span class="postfix">P</span>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Total allowance for vehicle expenditure (calculated automatically)</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-8 columns">
<input id="totalVehicle" class="span2" size="16" type="text" placeholder="00" readonly/>
</div>
<div class="small-2 columns">
<span class="postfix">.00</span>
</div>
</div>
</div>
</div>

</div>

<div class="large-3 columns">

<blockquote>Calculate your vehicle expenses, using a flat rate for mileage. Alternatively, you can enter the actual costs associated with your vehicle eg. fuel, maintinace etc using the expense form below.</blockquote>

</div>

</div>

</div>

</div>


<!-- end row 8 -->


<!-- row 9 (use of home) -->

<div class="row">

<div class="large-12 columns">

<div class="large-12 columns panel form_box">

<div class="anchor" id="home_expenditure"></div>

<div class="large-9 columns">

<div class="row">
<div class="large-9 columns">
<h5 class="question red_ nine">Claiming costs for business use of home using flat rate allowance</h5>
<h5><small>Hours of business per month (from home). This includes time spent doing your accounts, creating quotes, business phonecalls, and banking etc.</small></h5>
<select id="homeFlatRate">
<option value="0">No Business Hours</option>
<option value="10">25 -50 Business Hours / Month</option>
<option value="18">51 - 100 Business Hours / Month</option>
<option value="26">101 or More Business Hours / Month</option>
</select>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Flat rate allowance per month</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-8 columns">
<input id="flatRate" class="span2" size="16" type="text" placeholder="00"/>
</div>
<div class="small-2 columns">
<span class="postfix">.00</span>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Total allowance for business use of home (calculated automatically)</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-8 columns">
<input id="totalHome" class="span2" size="16" type="text" placeholder="00" readonly/>
</div>
<div class="small-2 columns">
<span class="postfix">.00</span>
</div>
</div>
</div>
</div>

</div>

<div class="large-3 columns">

<blockquote>Calculate your allowable expenses using a flat rate based on the hours you work from home each month.</blockquote>

</div>

</div>

</div>

</div>


<!-- end row 9 -->


<!-- row 10 (record expenses) -->

<div class="row">

<div class="large-12 columns">

<div class="large-12 columns panel form_box">

<div class="large-9 columns">

<h5 class="question red_ ten">Record your business expenses</h5>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Expense Payment Date</small></h5>
<div class="small-9 columns" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
<input class="span2 datepicker active start_date" size="16" type="text" value="06-04-2013" readonly/>
</div>
<div class="small-3 columns">
<span class="postfix"><i class="icon-calendar fa fa-calendar"></i></span>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-9 columns">
<h5><small>Expense Type</small></h5>
<select id="expenseType">         
<option value="0">Vehicle</option>
<option value="10">Computer Equipment</option>
<option value="18">Marketing</option>
<option value="26">Accountancy</option>
</select>
</div>
</div>

<div class="row">

<div class="large-8 columns">

<h5><small>This Space Is For Payment Notes</small></h5>
<%= text_area_tag "notes", nil, :placeholder => "Payment Notes..." %>

</div>

</div>

<div class="row">

<div class="large-4 columns">
<div class="row collapse">
<h5><small>Payment Amount</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>

</div>

</div>

<div class="row">

<div class="large-8 columns">
<h5><small>Payment Method</small></h5>
<select>
<option value="">No Payment Method Selected</option>
<option value="Cash">Cash</option>
<option value="Cheque">Cheque</option>
<option value="Bacs">Bank Transfer (BACS)</option>
<option value="Bacs">Other</option>
</select>

</div>

</div>

<div class="row">

<div class="large-8 columns">
<h5><small>Click 'Add Expense Payment' to add this payment to your records.</small></h5>
<input type="submit" value="Add Expense Payment" style="margin-bottom: 20px;"/>

</div>

</div>

</div>

<div class="large-3 columns">

<blockquote>Record your other business expenses using the form provided. As you add expenses they will appear in the table below.</blockquote>

</div>

</div>

</div>

</div>


<!-- end row 10 -->

<!-- row 11 (expense table) -->

<div class="row">

<div class="large-12 columns">

<div class="anchor" id="record_expenses"></div>

<div class="panel form_box">

<div class="anchor" id="table_expenses"></div>

<div class="large-12 columns">

<h5 class="question red_ eleven">Your expense payments are displayed below. Please review and amend if nesessary.</h5>
<h5><small>The table below shows your expenses for financial year Apr 13 - Apr 14. You can edit & delete expense payments using the 'action links' below. Or you can add new expense payments using the <a href="#">expense form</a> above.</small></h5>

</div>

<table class="responsive">
<tbody>
<tr>
<th width="125">Payment Date</th>
<th width="200">Expense Type</th>
<th width="349">Notes</th>
<th width="125">Amount</th>
<th width="125">Action</th>
</tr>
<tr>
<td>12/12/2013</td>
<td>Postage</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Postage</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Postage</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Postage</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Postage</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>12/12/2013</td>
<td>Postage</td>
<td></td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>Total</td>
<td></td>
<td></td>
<td>£2,202.34</td>
<td></td>
</tr>
</tbody>
</table>


</div>
</div>
</div>

<!-- end row 11 -->

<!-- row 12 (expense graph) -->

<div class="row">

<div class="large-12 columns">

<div class="large-12 columns panel graph_box">

<div class="anchor" id="graph_expenses"></div>

<div class="large-9 columns">

<h5 class="question red_ tweleve">Graph: Expenses for financial year Apr 13 - Apr 14</h5>

<h5><small>Hover your mouse over the columns on the graph to get more information about expenses for that month.</small></h5>


<%= column_chart({"Apr" => 5000, "May" => 4000, "Jun" => 7000, "Jul" => 1000, "Aug" => 3500, "Sep" => 5250, "Oct" => 2000, "nov" => 1600, "Dec" => 6000, "Jan" => 7500, "Feb" => 9000, "Mar" => 8000}, {library: {hAxis: {title: "Months (Apr 13 - Apr 14)"}, vAxis: {title: "Expense (£)"}, :backgroundColor => "#eee", :title => 'Expense / Month', colors: ['#e0440e']}}) %>

<%= pie_chart({"Admin" => 5000, "Vehicle" => 4000, "Financial Charges" => 7000, "Computer & Software" => 1000, "Subscriptions & Memberships" => 3500, "Accountancy" => 5250, "Marketing" => 2000, "Franchise Fees" => 1600, "Insurances" => 6000}, {library: {hAxis: {title: "Months (Apr 13 - Apr 14)"}, vAxis: {title: "Expense (£)"}, :backgroundColor => "#eee", :title => 'Expense Categories', is3D: true}}) %>


</div>

<div class="large-3 columns">

<blockquote>These graphs display your expenditure over the financial year.</blockquote>

</div>

</div>

</div>

</div>


<!-- end row 12 -->

<a name="other_income" class="anchor">>Other Income</a>
<h3 data-magellan-destination="other_income">Other Income</h3><hr/>

<!-- row 13 (Pension Contributions) -->

<div class="row">

<div class="large-12 columns form_box">

<div class="panel large-12 columns">

<div class="large-9 columns">

<h5 class="question thirteen pink">Pension Contributions</h5>
<h5><small></small></h5>

<div class="row">

<div class="large-4 columns">
<div class="row collapse">
<h5><small>Total Pension Contributions</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>
</div>
</div>

</div>

<div class="large-3 columns">

<blockquote>Have you made any contributions to any type of pension plan this financial year?</blockquote>

</div>

</div>

</div>

</div>

<!-- end row 13 --> 

<!-- row 14 (Dividend Payments) -->

<div class="row">

<div class="large-12 columns form_box">

<div class="panel large-12 columns">

<div class="large-9 columns">

<h5 class="question fourteen pink">Dividend Payments</h5>
<h5><small></small></h5>

<div class="row">

<div class="large-4 columns">
<div class="row collapse">
<h5><small>Total Dividend Payments</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>
</div>
</div>

</div>

<div class="large-3 columns">

<blockquote>Have you received any dividend payments this financial year?</blockquote>

</div>

</div>

</div>

</div>

<!-- end row 14 --> 

<!-- row 15 (Bank or Buildings Society Interest) -->

<div class="row">

<div class="large-12 columns form_box">

<div class="panel large-12 columns">

<div class="large-9 columns">

<h5 class="question fifteen pink">Bank or Buildings Society Interest</h5>
<h5><small></small></h5>

<div class="row">

<div class="large-4 columns">
<div class="row collapse">
<h5><small>Total Interest Payments</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>
</div>
</div>

</div>

<div class="large-3 columns">

<blockquote>Have you received any bank or buildings society interest payments this financial year?</blockquote>

</div>

</div>

</div>

</div>

<!-- end row 15 --> 

<!-- row 16 (Other Income) -->

<div class="row">

<div class="large-12 columns form_box">

<div class="panel large-12 columns">

<div class="large-9 columns">

<h5 class="question sixteen pink">Other Income</h5>
<h5><small></small></h5>

<div class="row">

<div class="large-4 columns">
<div class="row collapse">
<h5><small>Other Income Payments (not including PAYE)</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>
</div>
</div>

</div>

<div class="large-3 columns">

<blockquote>Have you received any other income this financial year (excluding income from PAYE)?</blockquote>

</div>

</div>

</div>

</div>

<!-- end row 16 -->

<!-- row 17 (PAYE) -->   

<div class="row">

<div class="large-12 columns form_box">

<div class="panel large-12 columns">

<div class="large-9 columns">

<h5 class="question seventeen pink">Add Employment History (PAYE)</h5>
<h5><small></small></h5>

<h5><small>Employer Name</small></h5>
<input type="text" placeholder="Employer Name Empty" />

<h5><small>Employer PAYE Reference</small></h5>
<input type="text" placeholder="Employer PAYE Reference Empty" />

<h5><small>Employer Address</small></h5>
<h5><small>Building Name/Number & Street Name</small></h5>
<input type="text" placeholder="Building Name/Number & Street Name Empty" />
<h5><small>Address Line 2</small></h5>
<input type="text" placeholder="Address Line 2 Empty" />
<h5><small>Town or City</small></h5>
<input type="text" placeholder="Town or City Empty" />
<h5><small>Postal Code</small></h5>
<input type="text" placeholder="Postal Code Empty" />

<div class="row">
<div class="large-8 columns">
<h5><small>Employment Start Date</small></h5>
<div class="row collapse">
<div class="small-9 columns" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
<input class="span2 datepicker active start_date" size="16" type="text" value="01-04-2013" readonly/>
</div>
<div class="small-3 columns">
<span class="postfix"><i class="icon-calendar fa fa-calendar"></i></span>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-8 columns">
<h5><small>Employment End Date</small></h5>
<div class="row collapse">
<div class="small-9 columns" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
<input class="span2 datepicker active start_date" size="16" type="text" value="31-03-2014" readonly/>
</div>
<div class="small-3 columns">
<span class="postfix"><i class="icon-calendar fa fa-calendar"></i></span>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Income before tax & national insurance</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>Income Tax</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<div class="row collapse">
<h5><small>National Insurance</small></h5>
<div class="small-2 columns">
<span class="prefix">£</span>
</div>
<div class="small-10 columns">
<input class="span2" size="16" type="text" placeholder="00.00"/>
</div>
</div>
</div>
</div>

<div class="row">
<div class="large-8 columns">
<h5><small>Click 'Add Employer Information' to add this employer to your employment history.</small></h5>
<input type="submit" value="Add Employer Information" style="margin-bottom: 20px;"/>
</div>
</div>

</div>

<div class="large-3 columns">

<blockquote>Have you received any PAYE income this financial year? Add employer information using the form provided.</blockquote>

</div>

</div>

</div>

</div>

<!-- end row 17 -->

<!-- row 18 (employment history) -->

<div class="row">

<div class="large-12 columns">

<div class="anchor" id="record_expenses"></div>

<div class="panel form_box">

<div class="anchor" id="table_expenses"></div>

<div class="large-12 columns">

<h5 class="question pink eighteen">Your employment history is displayed below. Please review and amend if nesessary.</h5>
<h5><small>The table below shows your emplyment history and PAYE income for financial year Apr 13 - Apr 14. You can edit & delete employer information using the 'action links' below. Or you can add new employers using the <a href="#">employer form</a> above.</small></h5>

</div>

<table class="responsive">
<tbody>
<tr>
<th width="125">Start Date</th>
<th width="125">End Date</th>
<th width="174">Employer Name</th>
<th width="125">Tax</th>
<th width="125">NI</th>
<th width="125">Income</th>
<th width="125">Action</th>
</tr>
<tr>
<td>12/12/2013</td>
<td>12/12/2013</td>
<td>Postage</td>
<td>£409.78</td>
<td>£409.78</td>
<td>£409.78</td>
<td><a href="#">Edit<i class="fi-pencil silver"></i></a><br/><a href="#">Delete<i class="fi-trash silver"></i></a></td>
</tr>
<tr>
<td>Total</td>
<td></td>
<td></td>
<td>£2,202.34</td>
<td>£2,202.34</td>
<td>£2,202.34</td>
<td></td>
</tr>
</tbody>
</table>


</div>
</div>
</div>

<!-- end row 18 -->


</div>

</div>



<!-- End Main Grid Section -->